@use "sass:string";
@use "sass:math";
@use "sass:list";

// Funciones con cadenas de texto

@debug "hola";
@debug string.index("Helvetica Neue", "Neue");

$string: "Helvetica";
$newString: string.insert($string, " Bold", 9);

@debug $newString;
@debug string.length($newString);
@debug string.slice($newString, 5, 9);

@debug string.to-upper-case("Roboto Mono");
@debug string.to-lower-case("Roboto Mono");

@debug string.unique-id();

// Funciones con números

@debug math.$e;
@debug math.$pi;

@debug math.floor(4);
@debug math.floor(4.2);
@debug math.floor(4.9);

@debug math.ceil(4);
@debug math.ceil(4.2);
@debug math.ceil(4.9);

@debug math.clamp(0, 6, 10);
@debug math.clamp(0, 6.36, 10);
@debug math.clamp(0, -6, 10);
@debug math.clamp(0, 16, 10);

@debug math.max(3, 4, 6, 399, 10, 2);
@debug math.min(3, 4, 6, 399, 10, 2);

@debug math.round(4.6);
@debug math.round(4.4);

@debug math.abs(8);
@debug math.abs(-8);

@debug math.pow(2, 12);
@debug math.pow(2, math.abs(-23));

@debug math.cos(math.$pi);
@debug math.sin(math.$pi);
@debug math.tan(math.$pi);

// Funciones con listas

$lista1: 10px, 10px, 0px, 15px;

@debug $lista1;
@debug list.append($lista1, 25px);